@import "tailwindcss";
@keyframes scanLine {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scan-line {
  animation: scanLine 5s linear infinite;
}